@import 'parts/website-theme.css';
@import 'parts/header.css';

@config "../../tailwind.website.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

body a,
body button {
    @apply transition-colors;
}

body:has(#menu-controller:checked) {
    @apply h-screen overflow-hidden;
}


.body {
    @apply antialiased;
    @apply flex;
    @apply flex-col;
    @apply h-screen;
    @apply px-6;
    @apply m-auto;
    @apply text-lg;
    @apply leading-7;
    @apply max-w-7xl;
    @apply bg-neutral;
    @apply text-neutral-900;
    @apply dark:bg-neutral-800;
    @apply dark:text-neutral;
    @apply sm:px-14;
    @apply md:px-24;
    @apply lg:px-32;
}


#menu-button:has(#menu-controller:checked) {
    @apply invisible;
}

#menu-controller:checked ~ #menu-wrapper {
    @apply visible opacity-100;
}

.prose div.min-w-0.max-w-prose > *:first-child {
    @apply mt-3;
}
